@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";
@plugin "@tailwindcss/typography";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: 100vh;
}
